In [5]:
import pandas as pd
df = pd.read_csv(
    filepath_or_buffer="data.csv",
    delimiter=";"
)
df["hour"] = pd.to_datetime(df["Time of deal"]).dt.hour
df["hour"].value_counts()

hour
12    13
9     12
10    11
16    10
14     9
11     9
13     9
15     9
17     4
Name: count, dtype: int64

In [6]:
df["Price"].describe()

count     86.00000
mean     254.18314
std       80.43214
min      140.25000
25%      185.36250
50%      237.60000
75%      310.36250
max      450.30000
Name: Price, dtype: float64

In [ ]:
df[df["Agent age"]<56]

          Agent Name  Agent age      Time of deal   Price  hour
6       Daniel Evans         60  2024-10-30 13:45  340.90    13
15    Benjamin Green         58  2024-10-30 16:35  450.30    16
18        Jack Baker         63  2024-10-30 12:50  289.75    12
24          Mia Bell         59  2024-10-30 15:30  425.60    15
36     Amelia Torres         61  2024-10-30 11:10  278.00    11
40     William Gomez         59  2024-10-30 13:55  440.00    13
57      Isaac Bailey         61  2024-10-30 13:35  290.40    13
60      Emily Carter         62  2024-10-30 10:40  295.10    10
68  Charlotte Wright         58  2024-10-30 13:25  280.90    13
71         Emily Cox         60  2024-10-30 11:05  310.45    11
79       David Perez         62  2024-10-30 16:40  250.75    16
80       Mason Young         59  2024-10-30 09:00  375.25     9