In [2]:
import pandas as pd
df = pd.read_csv('https://drive.google.com/uc?export=download&id=1GztFVF32hUQkzDD-kHfH37vstbvwKJwp')
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [4]:
df['Avatar'].values # just returns values

array(['Violet', 'DarkGreen', 'Bisque', 'SaddleBrown', 'MediumAquaMarine',
       'FloralWhite', 'DarkSlateBlue', 'Aqua', 'Salmon', 'Brown',
       'Tomato', 'Tomato', 'RoyalBlue', 'Bisque', 'DarkBlue', 'Peru',
       'PowderBlue', 'OliveDrab', 'Cyan', 'LightSeaGreen', 'PeachPuff',
       'Black', 'Olive', 'Silver', 'Wheat', 'Teal', 'Linen',
       'MediumSlateBlue', 'LemonChiffon', 'DarkOrchid', 'SeaGreen',
       'SteelBlue', 'DarkMagenta', 'DarkGoldenRod', 'DarkSeaGreen',
       'Gainsboro', 'HotPink', 'LightSeaGreen', 'HoneyDew', 'WhiteSmoke',
       'GhostWhite', 'DarkSlateBlue', 'Chocolate', 'HoneyDew', 'Snow',
       'BurlyWood', 'Moccasin', 'BlueViolet', 'MediumBlue', 'GreenYellow',
       'SandyBrown', 'MediumVioletRed', 'DarkBlue', 'SandyBrown',
       'DarkOliveGreen', 'GreenYellow', 'DarkSalmon', 'DarkSeaGreen',
       'DeepPink', 'Olive', 'SkyBlue', 'Magenta', 'DarkTurquoise',
       'Silver', 'SpringGreen', 'OliveDrab', 'Aqua', 'OrangeRed',
       'LimeGreen', 'SkyBlue', 'LightGreen', 'SandyBrown', 'Teal',
       'LightYellow', 'MintCream', 'DimGray', 'Indigo', 'LightSalmon',
       'GreenYellow', 'DeepSkyBlue', 'DarkGreen', 'LimeGreen',
       'DarkGoldenRod', 'Turquoise', 'LightGreen', 'LightSteelBlue',
       'Cornsilk', 'LemonChiffon', 'DarkKhaki', 'FireBrick',
       'LightSeaGreen', 'SlateGray', 'Crimson', 'MidnightBlue',
       'DarkGoldenRod', 'DarkCyan', 'SteelBlue', 'OldLace', 'MediumBlue',
       'Gray', 'LightPink', 'BlanchedAlmond', 'Wheat', 'Aqua',
       'BlueViolet', 'CadetBlue', 'PaleTurquoise', 'DimGray', 'Moccasin',
       'Chartreuse', 'Khaki', 'MediumSpringGreen', 'LemonChiffon',
       'PeachPuff', 'Lime', 'Tomato', 'SlateBlue', 'Orange', 'Fuchsia',
       'GoldenRod', 'GreenYellow', 'ForestGreen', 'Moccasin', 'Indigo',
       'SlateBlue', 'Cyan', 'MintCream', 'Lime', 'Moccasin', 'Green',
       'LightSkyBlue', 'BlueViolet', 'Azure', 'LightGray', 'DarkCyan',
       'GreenYellow', 'Crimson', 'MediumOrchid', 'Sienna', 'Aquamarine',
       'FloralWhite', 'SlateBlue', 'Sienna', 'LimeGreen', 'Teal',
       'WhiteSmoke', 'Purple', 'SlateGray', 'LightPink', 'LimeGreen',
       'DarkSlateBlue', 'DimGray', 'CornflowerBlue', 'DarkSlateGray',
       'MidnightBlue', 'LightSkyBlue', 'MediumBlue', 'Wheat',
       'SpringGreen', 'DarkRed', 'Orange', 'LightGray', 'DarkViolet',
       'LimeGreen', 'CadetBlue', 'DarkMagenta', 'ForestGreen',
       'LightSkyBlue', 'MediumAquaMarine', 'Salmon', 'LavenderBlush',
       'Green', 'SpringGreen', 'Navy', 'OliveDrab', 'LightSalmon',
       'RosyBrown', 'DeepPink', 'Pink', 'LightGreen', 'GreenYellow',
       'Sienna', 'DarkKhaki', 'LightGray', 'DarkRed', 'Aqua', 'Red',
       'Lavender', 'DeepPink', 'White', 'MediumSeaGreen', 'MediumPurple',
       'LightGreen', 'Tan', 'LawnGreen', 'LightSkyBlue', 'BurlyWood',
       'Peru', 'Thistle', 'DarkMagenta', 'LemonChiffon',
       'MediumVioletRed', 'Teal', 'SlateGray', 'Turquoise', 'Gainsboro',
       'Orchid', 'Yellow', 'AntiqueWhite', 'AliceBlue', 'Tomato',
       'PapayaWhip', 'MediumSeaGreen', 'BlueViolet', 'Tomato',
       'DarkSlateGray', 'Gold', 'Moccasin', 'MediumSeaGreen',
       'LightGreen', 'Orange', 'Cyan', 'SlateBlue', 'BlanchedAlmond',
       'LavenderBlush', 'Navy', 'MediumBlue', 'Moccasin', 'CadetBlue',
       'MediumTurquoise', 'DarkGreen', 'RoyalBlue', 'DarkGoldenRod',
       'Thistle', 'White', 'MediumSpringGreen', 'WhiteSmoke', 'BurlyWood',
       'YellowGreen', 'White', 'Cyan', 'SlateBlue', 'LightSkyBlue',
       'DarkTurquoise', 'Gainsboro', 'LightCyan', 'LightCoral',
       'Turquoise', 'DarkOliveGreen', 'Teal', 'DeepPink',
       'MediumTurquoise', 'DarkCyan', 'PeachPuff', 'Aqua',
       'MediumTurquoise', 'HotPink', 'SeaShell', 'Orange', 'CadetBlue',
       'LightCoral', 'Orchid', 'Crimson', 'LightGoldenRodYellow',
       'DarkGoldenRod', 'HotPink', 'Blue', 'Violet', 'Pink', 'SandyBrown',
       'LightBlue', 'Gold', 'SteelBlue', 'FloralWhite', 'Green',
       'PaleGoldenRod', 'Navy', 'Coral', 'DarkGreen', 'LightSteelBlue',
       'Aquamarine', 'DarkViolet', 'MediumSpringGreen', 'OliveDrab',
       'Purple', 'BlueViolet', 'RoyalBlue', 'DarkSeaGreen',
       'AntiqueWhite', 'Blue', 'FloralWhite', 'Navy', 'DarkOrange',
       'Aqua', 'Ivory', 'LavenderBlush', 'Cyan', 'Tan', 'PaleVioletRed',
       'LightPink', 'Thistle', 'CadetBlue', 'AntiqueWhite', 'GhostWhite',
       'DarkOrchid', 'DarkGray', 'Gainsboro', 'DarkSalmon', 'Ivory',
       'MediumSlateBlue', 'Cyan', 'SeaGreen', 'Purple', 'LightBlue',
       'Brown', 'Chocolate', 'Thistle', 'Purple', 'MistyRose', 'Indigo',
       'Gold', 'PeachPuff', 'LightSalmon', 'DarkOrange', 'SlateBlue',
       'MintCream', 'NavajoWhite', 'Tomato', 'DarkSeaGreen', 'Lavender',
       'DodgerBlue', 'Wheat', 'MediumVioletRed', 'Magenta', 'SeaShell',
       'HoneyDew', 'LightCyan', 'Khaki', 'Crimson', 'White', 'RoyalBlue',
       'DarkViolet', 'DarkSeaGreen', 'Navy', 'Gray', 'Purple',
       'RosyBrown', 'White', 'MediumTurquoise', 'Bisque', 'SaddleBrown',
       'YellowGreen', 'LavenderBlush', 'IndianRed', 'DarkKhaki',
       'SaddleBrown', 'Orchid', 'DarkCyan', 'Aquamarine', 'Brown',
       'DarkMagenta', 'Cornsilk', 'LightSalmon', 'Chocolate',
       'PaleVioletRed', 'Wheat', 'OldLace', 'SlateBlue', 'Orchid',
       'MediumAquaMarine', 'SeaGreen', 'MediumSpringGreen',
       'LightSeaGreen', 'DarkKhaki', 'SaddleBrown', 'Turquoise',
       'AntiqueWhite', 'GoldenRod', 'Teal', 'Bisque', 'PaleGreen',
       'RosyBrown', 'Crimson', 'Brown', 'Gold', 'SeaGreen', 'LightYellow',
       'LemonChiffon', 'DarkOrange', 'LightCyan', 'Gray',
       'MediumVioletRed', 'OrangeRed', 'DeepPink', 'DeepPink',
       'GhostWhite', 'Green', 'CadetBlue', 'DarkOliveGreen', 'IndianRed',
       'Snow', 'DarkSeaGreen', 'BlueViolet', 'OliveDrab',
       'MediumSpringGreen', 'MediumSlateBlue', 'GhostWhite', 'Purple',
       'SandyBrown', 'LightCyan', 'LightSalmon', 'Chartreuse',
       'DarkGoldenRod', 'Cornsilk', 'Magenta', 'SaddleBrown',
       'DarkViolet', 'Chocolate', 'DarkViolet', 'Magenta', 'HotPink',
       'DodgerBlue', 'Turquoise', 'Blue', 'PaleVioletRed', 'MidnightBlue',
       'BlanchedAlmond', 'Black', 'DodgerBlue', 'DarkGreen',
       'BlanchedAlmond', 'Bisque', 'Cyan', 'Lavender', 'Violet',
       'Fuchsia', 'MistyRose', 'CadetBlue', 'LightSteelBlue', 'Brown',
       'Salmon', 'FireBrick', 'Lime', 'GreenYellow', 'DarkOrchid', 'Blue',
       'Olive', 'Wheat', 'AliceBlue', 'OliveDrab', 'Linen',
       'LightSlateGray', 'Indigo', 'Lime', 'SteelBlue', 'Olive',
       'HoneyDew', 'MidnightBlue', 'DarkViolet', 'Sienna', 'Pink',
       'LightSkyBlue', 'SaddleBrown', 'SteelBlue', 'Thistle',
       'BlanchedAlmond', 'Turquoise', 'Orange', 'Beige', 'YellowGreen',
       'SlateGray', 'Bisque', 'Orange', 'DimGray', 'MediumBlue',
       'AntiqueWhite', 'Beige', 'Beige', 'PeachPuff', 'LightPink',
       'WhiteSmoke', 'MediumOrchid', 'Olive', 'MistyRose', 'DarkRed',
       'Pink', 'DarkGray', 'Orchid', 'PeachPuff', 'Magenta', 'GhostWhite',
       'SeaShell', 'DarkBlue', 'MediumSeaGreen', 'DarkTurquoise', 'Tan',
       'PaleVioletRed', 'Cornsilk', 'Teal', 'DarkMagenta'], dtype=object)

In [5]:
df['Avatar'].index

RangeIndex(start=0, stop=500, step=1)

In [9]:
df['Avatar'].unique()

array(['Violet', 'DarkGreen', 'Bisque', 'SaddleBrown', 'MediumAquaMarine',
       'FloralWhite', 'DarkSlateBlue', 'Aqua', 'Salmon', 'Brown',
       'Tomato', 'RoyalBlue', 'DarkBlue', 'Peru', 'PowderBlue',
       'OliveDrab', 'Cyan', 'LightSeaGreen', 'PeachPuff', 'Black',
       'Olive', 'Silver', 'Wheat', 'Teal', 'Linen', 'MediumSlateBlue',
       'LemonChiffon', 'DarkOrchid', 'SeaGreen', 'SteelBlue',
       'DarkMagenta', 'DarkGoldenRod', 'DarkSeaGreen', 'Gainsboro',
       'HotPink', 'HoneyDew', 'WhiteSmoke', 'GhostWhite', 'Chocolate',
       'Snow', 'BurlyWood', 'Moccasin', 'BlueViolet', 'MediumBlue',
       'GreenYellow', 'SandyBrown', 'MediumVioletRed', 'DarkOliveGreen',
       'DarkSalmon', 'DeepPink', 'SkyBlue', 'Magenta', 'DarkTurquoise',
       'SpringGreen', 'OrangeRed', 'LimeGreen', 'LightGreen',
       'LightYellow', 'MintCream', 'DimGray', 'Indigo', 'LightSalmon',
       'DeepSkyBlue', 'Turquoise', 'LightSteelBlue', 'Cornsilk',
       'DarkKhaki', 'FireBrick', 'SlateGray', 'Crimson', 'MidnightBlue',
       'DarkCyan', 'OldLace', 'Gray', 'LightPink', 'BlanchedAlmond',
       'CadetBlue', 'PaleTurquoise', 'Chartreuse', 'Khaki',
       'MediumSpringGreen', 'Lime', 'SlateBlue', 'Orange', 'Fuchsia',
       'GoldenRod', 'ForestGreen', 'Green', 'LightSkyBlue', 'Azure',
       'LightGray', 'MediumOrchid', 'Sienna', 'Aquamarine', 'Purple',
       'CornflowerBlue', 'DarkSlateGray', 'DarkRed', 'DarkViolet',
       'LavenderBlush', 'Navy', 'RosyBrown', 'Pink', 'Red', 'Lavender',
       'White', 'MediumSeaGreen', 'MediumPurple', 'Tan', 'LawnGreen',
       'Thistle', 'Orchid', 'Yellow', 'AntiqueWhite', 'AliceBlue',
       'PapayaWhip', 'Gold', 'MediumTurquoise', 'YellowGreen',
       'LightCyan', 'LightCoral', 'SeaShell', 'LightGoldenRodYellow',
       'Blue', 'LightBlue', 'PaleGoldenRod', 'Coral', 'DarkOrange',
       'Ivory', 'PaleVioletRed', 'DarkGray', 'MistyRose', 'NavajoWhite',
       'DodgerBlue', 'IndianRed', 'PaleGreen', 'LightSlateGray', 'Beige'],
      dtype=object)

In [12]:
df.iloc[[df['Avg. Session Length'].idxmax(), df['Avg. Session Length'].idxmin()]]

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
154,nathan86@hotmail.com,"748 Michael Plaza\nWest Billyside, UT 20799",MidnightBlue,36.139662,12.050267,36.959643,3.864861,595.803819
12,knelson@gmail.com,"6705 Miller Orchard Suite 186\nLake Shanestad,...",RoyalBlue,29.532429,10.961298,37.420216,4.046423,408.640351

In [13]:
df['Avg. Session Length'].min()

np.float64(29.532428967057943)

In [11]:
data = {'Name': ['Anna', 'Boris', 'Polina'], 'Age': [28, 34, 27], 'Salary' : [1000, 1500, 1800], 'Occupation' : ['Data Scientist', 'Data Analyst', 'Data Engineer']}
df2 = pd.DataFrame(data, index=['a', 'b', 'c'])
df2.columns

Index(['Name', 'Age', 'Salary', 'Occupation'], dtype='object')

### Quantiles

In [16]:
df['Avg. Session Length'].quantile(0.25)

np.float64(32.34182200451777)

### Central tendention

In [ ]:
df['Avg. Session Length'].mean()
df['Avg. Session Length'].median()
df['Avg. Session Length'].mode()

0      29.532429
1      30.393185
2      30.492537
3      30.574364
4      30.737720
         ...
495    35.530904
496    35.630854
497    35.742670
498    35.860237
499    36.139662
Name: Avg. Session Length, Length: 500, dtype: float64

### Changibility measure

In [20]:
range = df['Avg. Session Length'].max() - df['Avg. Session Length'].min() 
range

np.float64(6.607233521732578)

In [21]:
Q1 = df['Avg. Session Length'].quantile(0.25)
Q3 = df['Avg. Session Length'].quantile(0.75)

IQR = Q3 - Q1
IQR

np.float64(1.3701630194366956)

In [ ]:
df['Avg. Session Length'].var()
df['Avg. Session Length'].std()

### Correlation

In [22]:
df['Avg. Session Length'].corr(df['Time on App'])

np.float64(-0.02782598355566168)

In [24]:
df['Avg. Session Length'].corr(df['Time on App'], method='spearman')

ModuleNotFoundError: No module named 'scipy'